$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;


body {
    background: $tundora;
}

.standard-font {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: $cod-gray
}

.increaseRead {
    color: $mine-shaft;
    padding-left: 10px;
    padding-right: 40px;
}

.hoverBeing:hover {
    color: $bright-red;
    font-size: 22px;
}

.inline-disp {
    display: inline-flex;
}

.formFormat {
    align-items: center;
    padding-left: 150px;
    padding-bottom: 20px;
}

.videoCover {
    display: flex;
    width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
}

